.float-container {
    padding: 20px;
}

.float-assignment {
    width: 40%;
    float: left;
    padding: 10px;
}  

.float-post {
    width: 60%;
    float: left;
    padding: 10px;
}  

.held {
    padding: 20px;
    border: 2px solid black;
}  